@font-face {
  font-family: 'Gilroy';
  src: url('./assets/font/Gilroy-Heavy.ttf') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  src: url('./assets/font/FiraGO-Regular.ttf') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}
body {
  max-height: 100vh;
  overflow-y: hidden;
}
.chat-wrapper {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    152.36deg,
    #fff1e6 0.79%,
    #fde2e4 97.68%,
    #fff1e6 97.68%
  );
}
.left-menu {
  width: 550px;
  min-height: 100vh;
  background-color: #e2ece9;
  background-image: url("./assets/bg-left.png");
  background-size: cover;
}

.left-menu h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 127px;
  /* identical to box height */
  color: #fd6f34;
  margin-left: 54px;
  margin-top: 61px;
}
.left-menu p {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: capitalize;
  color: #474747;
  margin-left: 54px;
}
.header {
  width: 90%;
  border-radius: 0 49px 49px 0;
  background: #0B3954;
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.1);
  padding: 25px 54px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}
.menu-list {
  width: 80% !important;
  margin-left: 54px !important;
  justify-content: center;
}
.menu-list li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid #ffffff;
}
.menu-list li p {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  margin-left: 25px;
}
.icon-cont {
  width: 61px;
  height: 61px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ///// */
.chat-main-wrapper {
  min-height: 100px !important;
  display: flex;
  justify-content: center;
  flex: 1;
  background-image: url("./assets/chat-bg.png");
  background-size: cover;
}

.chat-container {
  width: 80%;
  min-height: 100vh;
  height: auto;
  background-image: url("./assets/bg-chat1.png");
  border-radius: 0 19px 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 50px;
}


.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 30px;
}


.chat::-webkit-scrollbar {
  width: 15px;
  border-top-right-radius: 80px 80px;
    background: #ECECEC;
}

.chat::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #ECECEC;
}

.chat::-webkit-scrollbar-thumb {
  background: #0B3954;
  border-radius: 20px;
}




.chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 77px;
}
.chat-name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.chat-header p {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin-top: 10px;
  width: 256px;
}
.input-cont {
  width: 95%;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 80px;


  box-shadow: 0px 1px 21px rgba(11, 57, 84, 0.3);
  border-radius: 10px;
}
.input-cont input {
  flex: 1;
  height: 100%;
  height: 45px;
  border: 0;
  outline: 0;
  border-radius: 20px;

}
.input-text {
  width: 60px;
  height: 31px;
  background: #0B3954;
  border-radius: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text a {
  color: #ffffff;
  font-family: 'Gilroy GEO';
  padding: 10px;

}

.message,
.user-message {
  display: flex;
  margin-top: 20px;
}

.message-progress{
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin-top: 20px;
}

.bot-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: green;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}
.message-text {
  margin-left: 40px;
  max-width: 70%;
  word-break: break-all;
  padding: 20px;
  background: #ECECEC;
  border-radius: 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  word-break: normal;
}
.user-message-text {
  margin-right: 40px;
  word-break: break-all;
  max-width: 70%;
  padding: 20px;
  background: #fde2e4;
  border-radius: 20px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #FC4F5B !important;
}
.user-message {
  margin-left: auto;
  justify-content: right;
  margin-top: 39px;
  margin-bottom: 30px;
}
.gift-card {
  display: flex;
}
.gift {
  width: 379px;
  background-color: #BFD7EA;
  display: flex;
  flex-direction: column;
  padding: 20px 27px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 40px;
}
.gift img {
  border-radius: 19px;
  width: 100%;
  height: auto;
}
.gift h3 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 17px;
}
.card-text {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #484848;
  margin-top: 24px;
}
.btns {
  margin-top: 24px;
}
.btns button {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #484848;
}

.btns p {
  font-family: "Fira Sans";
}

.btns p span {
  color: #000000;
  font-weight: bold;
}
.load-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 50px;
}

.load-more {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 10px;
}

.load-more a {
  padding: 10px;
}


.reset {
  display: block;
  height: 50px;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background: #ededed;
  border-radius: 10px;
  padding: 10px 17px;
  border: 0;
  outline: 0;
  margin-left: 20px;
}
.reset a {
  width: 100%;
  padding: 10px 30px;
  font-family: "FiraGO";

}

.reset:hover {
  cursor: pointer;
  background: #e4e1e1;
  transition: 1s;

}








.progressbar {
  width: 379px;
  background-color: #BFD7EA;
  display: flex;
  flex-direction: column;
  padding: 20px 27px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 40px;
}


.progress-card {
  display: flex;
  width: 300px;

}

.message-progress {
  width: 320px;
  margin-top: 0;
}


.progress-bar {
  width: 200px;
  border-radius: 30px;
  height: 5px;
  background-image: linear-gradient( to right, rgba(8, 126, 139, 1), rgba(191, 215, 234, 1) );
  
}


.count {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin: 5px;
}





@media all and (max-width: 1115px) {
  .left-menu {
    display: none;
  }
  .chat-container {
    width: 100%;
    margin: 0 !important;
  }

  .input-cont {
    width: 95%;
    background-color: #ffff;
    box-shadow: 0px 1px 21px #fad2e1;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 20px;


  box-shadow: 0px 1px 21px rgba(11, 57, 84, 0.3);
  border-radius: 10px;
  }



}



.gift button {
  width: 100%;
  height: 34px;
  background-color: #ffffff;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  border-radius: 10px;
  border: 0;
  outline: 0;
  margin-top: 20px;
}

.gift button a {
  display: block;
  width: 100%;
  padding: 10px;

}
@media all and (max-width: 1920px) {
  .left-menu h1 {
    margin-left: 54px;
    margin-top: 21px;
  }

  .left-menu {
    width: 550px;
    min-height: 100vh;
    background-color: #ffffff;
  }

  .left-menu h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 137px;
    /* identical to box height */
    color: #fd6f34;
  }
  .left-menu p {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
  }
  .header {
    font-size: 17px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .menu-list {
    width: 416px;
    margin-left: 20px;
    justify-content: center;
  }
  .menu-list li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 0;
  }
  .menu-list li p {
    font-size: 15px;
    line-height: 20px;
  }
  .icon-cont {
    width: 41px;
    height: 45px;
  }
  .icon-cont img {
    height: 20px;
  }
}

@media all and (max-width: 1466px) {
  .left-menu h1 {
    margin-left: 54px;
    margin-top: 61px;
  }

  .left-menu {
    width: 450px;
  }
  .chat-container {
    height: 100vh;
  }
  .chat-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
  }
  .chat-header img {
    width: 100px;
  }
  .left-menu h1 {
    font-size: 80px;
    line-height: 1;
    margin-top: 20px;
  }
  .menu-list {
    margin-top: 5px;
  }
  .left-menu p {
    font-size: 25px;
    margin-top: px;
    padding-right: 30px;
    line-height: 32px;
  }
  .chat-container {
    margin-top: 50px;
  }
  .header {
    font-size: 17px;
    margin: 10px 0;
  }
  .input-cont input {
    flex: 1;
    height: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    border-radius: 20px;
  }

}

@media all and (max-width: 1200px) {

/* 
  .progressbar {
    width: 100%;
    margin-left: 35px;
  }


.progress-card {
  display: flex;
  width: 100%;

}

.progress-bar {
  width: 100%;
}

.message-progress {
  width: 100%;
  margin-top: 0;
} */

}

@media all and (max-width: 572px) {
  .gift {
    width: 80%;
  }
  .chat {
    padding: 10px;
  }

  .chat::-webkit-scrollbar {
    display: none;
  }

  .chat-container {
    padding: 15px 0px;
  }
  .gift {
    margin-left: 10px;
  }
  .message-text {
    margin-left: 10px;
  }
  .user-message-text {
    margin-right: 10px;
  }
  .input-cont {
    margin-bottom: 60px;
  }
  .input-cont input {
    height: 60px;
  }
  .gift button a {
    padding: 10px;
  }

  .load-cont button {
    margin: 5px;
  }

  .progressbar {
    width: 100%;
    margin-left: 10px;
  }


.progress-card {
  display: flex;
  width: 90%;

}

.progress-bar {
  width: 100%;
}

.message-progress {
  width: 100%;
  margin-top: 0;
}
 
}


@media all and (max-width: 400px) {
  .input-cont input {
    height: 60px;
  }

  .progress-card {
    display: flex;
    width: 95%;
  
  }
}

@media all and (max-width: 340px) {
  .input-cont {
    margin-bottom: 20px;
  }

  .body {
    min-height: 100%;
  }

  .progress-card {
    display: flex;
    width: 95%;
  
  }
}







